
{%  extends 'pagina/base.html' %}


{% block content %}
    <div class="container p-3 my-3 border text-dark text-center">
        <div class="titulo">
            <h1>Ofertas del día</h1>
        </div>
        <div class="gallery">
            <div class="content">
                <img src="static/img/frenos3.jpg" id="imgn">
                <p id="tmarca">SHIMANO</p>
                <p>MANGUERA DE FRENO SHIMANO MODELO SM-BH90 NEGRO</p>
                <h6 id="price-normal">$19.990</h6>
                <h6 id="price-sale">$5.000</h6>
                <a href="acceder.html">
                    <button class="buy-1" id="btn">Comprar</button>
                </a>
            </div>

            <div class="content">
                <img src="static/img/bici3.jpg" id="imgn">
                <p id="tmarca">GT</p>
                <p>BICICLETA GT 700 M TRANSEO SPORT</p>
                <h6 id="price-normal">$499.990</h6>
                <h6 id="price-sale">$249.990</h6>
                <a href="acceder.html">
                    <button class="buy-2" id="btn">Comprar</button>
                </a>
            </div>

            <div class="content">
                <img src="static/img/frenos4.jpg" id="imgn">
                <p id="tmarca">ALLIGATOR</p>
                <p>PASTILLAS DE FRENO ALLIGATOR MODELO HK V X 037</p>
                <h6 id="price-normal">$1.990</h6>
                <h6 id="price-sale">$1.000</h6>
                <a href="acceder.html">
                    <button class="buy-3" id="btn">Comprar</button>
                </a>
            </div>

            <div class="content">
                <img src="static/img/neumatico1.jpg" id="imgn">
                <p id="tmarca">MAXXIS</p>
                <p>NEUMÁTICO MAXXIS DISSECTOR 29 X 2.40</p>
                <h6 id="price-normal">$69.990</h6>
                <h6 id="price-sale">$59.990</h6>
                <a href="acceder.html">
                    <button class="buy-4" id="btn">Comprar</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}